@model Company

<div class="container-fluid">
    <h2 class="text-warning">Are you sutre, you want to delete this company></h2>
    <h3>Name: @Model.Name</h3>
    <form method="post" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button class="btn btn-danger btn-lg" type="Submit">Delete</button>
    </form>
</div>
