@model List<Company>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
            <td>Name</td>
            <td>Address</td>
            <td>Country</td>
            <td colspan="2">Actions</td>
          </tr>
       </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@item.Country</td>
                <td>
                    <a href="/Company/Edit/?id=@item.Id" class="btn btn-info">Edit</a>
                </td>
                        <td>
                            <a href="/Company/Delete/?id=@item.Id" class="btn btn-danger">Delete</a>
                        </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<a href="emploee/index">View Emploees</a>
</body>
</html>