@model Student

<div class="container md-6">
    <h2>Here is the detail of the selected student</h2>
    <div>
        <span>FirstName: @Model.FirstName</span>
    </div>
     <div>
        <span>FirstName: @Model.MiddleName</span>
    </div>
     <div>
        <span>FirstName: @Model.LastName</span>
    </div>
     <div>
        <span>FirstName: @Model.Department</span>
    </div>
    <div>
        <a class="btn btn-info" asp-action="Index">Back to List</a>
    </div>
</div>
